html,
body {
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: #0b1605;
  color: #de831e;
}

.md-typescale-display-large {
  margin-bottom: 0;
  
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 65dvh;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
}
button {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  border: none;
  background-color: #de831e;
  color: #0f1606;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 40px;
  transition: all 0.3s ease;
}
button:hover {
  background-color:   #C4D6B0;
  color: black;
  border-radius: 20px;
}
button:active {
  background-color: #C4D6B0;
  color: black;
  border-radius: 20px;
}   

.gif-container > * {
  border: 1px solid #C4D6B0;
  border-radius: 20px;
  height: auto;
}
a {
  color: #de841e9a;
  text-decoration: underline;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  transition: all 0.3s ease;
}
a:hover {
  color: #de831e;
  text-decoration: none;
  padding: 10px;
}

.gradient-text {
  font-weight: 900;
  background: linear-gradient(45deg, #de831e, #6f3b00, #de831e ,#6f3b00);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
